
html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #0C0C42;
}

a {
	text-decoration: none;
}

.centered {
	margin-right: auto;
	margin-left: auto;
}

.page-container {
	width: 970px;
	margin-top: 20px;

	padding: 5px;
	background-color: #F0F0F0;
}

.front-page-top {
	width: 960px;
	height: 450px;
	background-color: white; /* fallback olor */
	background-image: url(https://du6er35mqxf2o.cloudfront.net/front-page.png);
	position: relative;
	margin-top: 4px;
}

.front-page-name-box {
	z-index: 100;
	background-color: white;
	font-family: 'Happy Monkey', Helvetica, sans-serif;
	width: 260px;
	height: 90px;
	padding: 10px;
	position: absolute;
	left: 50px;
	top: 50px;
}

.front-page-site-name {
	font-size: 2.2em;
	font-weight: bold;
	text-align: center;
}

.front-page-site-name a, .site-name a {
	color: #0C0C42;
}

.front-page-site-slogan {
	font-size: 1.6em;
	text-align: center;
}

.site-name {
	font-size: 2.2em;
	font-weight: bold;
	font-family: 'Happy Monkey', Helvetica, sans-serif;
}

.title {
	font-family: 'Happy Monkey', Helvetica, sans-serif;
	font-size: 1.2em;
}

#navigation {
	margin-top: 10px;
}

.links a {
	color:white;
	background-color: #0C0C42;
	padding: 6px;
	white-space: nowrap;
}

.links a.active {
	color:white;
	background-color: #ABABAB;
}

#main-wrapper {
	padding-left: 10px;
	padding-right: 10px;
}











