
html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #0C0C42;
}

a {
	text-decoration: none;
}

.centered {
	margin-right: auto;
	margin-left: auto;
}

.page-container {
	width: 970px;
	margin-top: 20px;

	padding: 5px;
	background-color: #F0F0F0;
}

.front-page-top {
	width: 960px;
	height: 450px;
	background-color: white; /* fallback olor */
	background-image: url(images/front-page.png);
	position: relative;
}

.front-page-name-box {
	z-index: 100;
	background-color: white;
	font-family: 'Sacramento', Helvetica, sans-serif;
	width: 260px;
	height: 90px;
	padding: 10px;
	position: absolute;
	left: 50px;
	top: 50px;
}

.front-page-site-name {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

.front-page-site-slogan {
	font-size: 1em;
	text-align: center;
}

.title {
	font-family: 'Happy Monkey', Helvetica, sans-serif;
	font-size: 1.2em;
}

.links a {
	color:white;
	background-color: #0C0C42;
	padding: 6px;
}

.links a.active {
	color:#00FFFF;
}













